<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Todo</title>
</head>

<body>

    

    <div class="container">
        <div class="row">
        <div class="col-sm-10 mx-auto mt-4">
            
            <form method="POST">
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" name="used_pc" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        中古タブレットPC
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2" name="used_pc" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        中古モニタ・ディスプレイ
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3" name="used_pc" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        中古Mac デスクトップパソコン
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" name="used_pc" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        中古デスクトップパソコン
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5" name="newPC" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        ノートパソコン
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="6" name="newPC" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Mac ノート(MacBook)
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="7" name="newPC" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Mac デスクトップ
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="8" name="newPC" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        タブレットPC
                    </label>
                </div>


                <div class="col-3 mt-4">
                    <button type="submit"  class="btn btn-primary mt-auto">スクレイピング開始</button>
                </div>

            </form>
            
        </div>
        </div>
    </div>
</body>