<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Web Scraping</title>
</head>

<body>

    

    <div class="container">
        <div class="row">
        <div class="col-sm-10 mx-auto mt-4">

            <form method="POST">
                {% csrf_token %}
                <div class=" d-flex">
                    <div>
                        <h1 class="mb-3">中古パソコン</h1>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="used_pc_all" name="pc_all" id="used_pc_all">
                            <label class="form-check-label" for="flexCheckDefault">
                                ALL
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/used/pc/ca=0020/" name="used_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                中古ノートパソコン
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/used/pc/ca=0010/" name="used_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                中古デスクトップパソコン
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/used/pc/ca=0019/" name="used_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                中古Mac デスクトップパソコン
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/used/pc/ca=0030/" name="used_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                中古タブレットPC
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/used/pc/ca=0080/" name="used_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                中古モニタ・ディスプレイ
                            </label>
                        </div>
                    </div>

                    <div class="ml-5">
                        <h1 class="mb-3">新品パソコン</h1>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="pc_all" name="pc_all" id="pc_all">
                            <label class="form-check-label" for="flexCheckDefault">
                                ALL
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/pc/note-pc/itemlist.aspx" name="new_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                ノートパソコン
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/pc/desktop-pc/itemlist.aspx" name="new_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                デスクトップパソコン
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/pc/mac-note-pc/itemlist.aspx" name="new_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Mac ノート(MacBook)
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/pc/mac-desktop-pc/itemlist.aspx" name="new_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Mac デスクトップ
                            </label>
                        </div>

                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/pc/pda/itemlist.aspx" name="new_pc" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                タブレットPC
                            </label>
                        </div>
                    </div>



                    <div class="ml-5">
                        <h1 class="mb-3">スマホ</h1>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="https://kakaku.com/keitai/smartphone" name="sp" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                ALL
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-3 mt-4">
                    <button type="submit"  class="btn btn-primary mt-auto">スクレイピング開始</button>
                </div>
            </form>
        </div>
        </div>
    </div>


    <script>
        $('#used_pc_all').click(function(){

            let target = $('input[name="used_pc"]');
             //チェックボックスの現在のステータスを取得
            chk_status = target.prop("checked");
            
            //取得したステータスが true なら false を、 false なら true をセットする
            if(chk_status){
                //チェックボックスをOFFにする（チェックを外す）。
                target.prop("checked", false);
            }else{
                //チェックボックスをONにする（チェックする）。
                target.prop("checked", true);
            }
        })

        $('#pc_all').click(function(){

            let target = $('input[name="new_pc"]');
            //チェックボックスの現在のステータスを取得
            chk_status = target.prop("checked");

            //取得したステータスが true なら false を、 false なら true をセットする
            if(chk_status){
                //チェックボックスをOFFにする（チェックを外す）。
                target.prop("checked", false);
            }else{
                //チェックボックスをONにする（チェックする）。
                target.prop("checked", true);
            }
        })

        $('input[name="new_pc"]').click(function(){

            let target = $('#pc_all');
            //チェックボックスの現在のステータスを取得
            chk_status = target.prop("checked");

            //取得したステータスが true なら false を、 false なら true をセットする
            if(chk_status){
                //チェックボックスをOFFにする（チェックを外す）。
                target.prop("checked", false);
            }
        })
    </script>
</body>